<form class="ui secondary teal inverted stacked segment form" action="/booklist/{{singleBooklist.id}}/addbook" method="POST" enctype="multipart/form-data">
  <div class="five fields">
    <div class="field">
      <label>Book Name</label>
      <input type="text" name="name" autofocus required title = "Please include a valid Title"
	  placeholder="Title">
    </div>
    <div class="field">
      <label>Book Cover</label>
      <input type="file" name="image" autofocus required title = "Please include a valid image file"
	  placeholder="Image">
    </div>
    <div class="field">
      <label>Author</label>
      <input type="text" name="author" required title = "Please include a valid Author"
	  placeholder="Author"  >
    </div>
    <div class="field">
      <label>Genre</label>
      <input type="text" name="genre" required title = "Please include a valid Author"
	  placeholder="Genre"  >
    </div>
    <div class="field">
      <label>Publication Year</label>
      <input type="text" name="publicYear" required title = "Please include a valid Author"
	  placeholder="Public"  >
    </div>
  </div>
  <button class="ui blue submit button" style="margin-left:43%;">Add Book</button>
</form>