<form
  class="ui secondary teal inverted stacked segment form"
  action="/dashboard/addbooklist"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="one fields">
    <div class="field">
      <label>Genre</label>
      <input placeholder="Title" type="text" name="genre" autofocus required />
    </div>
  </div>
  <button class="ui blue submit button">Add Booklist</button>
</form>