<form class="ui secondary teal inverted stacked segment form" action="/dashboard/addbooklist" method="POST">
  <div class="field">
    <label>Category</label>
    <input placeholder="Category" type="text" name="category" autofocus required>
  </div>
  <button class="ui blue submit button">Add Category</button>
</form>