<form class="ui stacked segment form" action="/playlist/{{singlePlaylist.id}}/addsong" method="POST"  enctype="multipart/form-data">
  <div class="six fields">
    <div class="field">
      <label>Author</label>
      <input type="text" name="author" autofocus required title = "Please include a valid author"
	  placeholder="Enter author">
    </div>
    <div class="field">
      <label>Genre</label>
      <input type="text" name="genre" required title = "Please include a valid genre"
	  placeholder="Enter genre"  >
    </div>
    <div class="field">
      <label>Public Year</label>
      <input type="text" name="publicYear" required title = "Please include a valid publicYear"
	  placeholder="Enter Public Year"  >
    </div>
    <div class="field">
      <label>Descript</label>
      <input type="text" name="descript" required title = "Please include a valid descript"
	  placeholder="Enter descript"  >
    </div>
    <div class="field">
      <label>Image</label>
      <input type="file" name="image" required title = "Please upload a valid image"
	  placeholder="Upload Image"  >
    </div>
    <div class="field">
      <label>Background</label>
      <input type="file" name="background" required title = "Please upload a valid image"
	  placeholder="Upload Background Image"  >
    </div>
  </div>
  <button class="ui blue submit button">Add Details</button>
</form>