<form class="ui stacked segment form" action="/picklist/{{singlePicklist.id}}/addpick" method="POST" enctype="multipart/form-data">
  <div class="six fields">
    <div class="field">
      <label>Author</label>
      <input type="text" name="author" autofocus required title = "Please include a valid Author"
	  placeholder="Author">
    </div>
    <div class="field">
      <label>Genre</label>
      <input type="text" name="genre" required title = "Please include a valid Genre"
	  placeholder="Genre"  >
    </div>
    <div class="field">
      <label>publicYear</label>
      <input type="text" name="publicYear" required title = "Please include a valid public year"
	  placeholder="Public Year"  >
    </div>
    <div class="field">
      <label>Descript</label>
      <input type="text" name="descript" required title = "Please write a description"
	  placeholder="Description"  >
    </div>
    <div class="field">
      <label>Book Cover</label>
      <input type="file" name="image" required title = "Please upload a cover"
	  placeholder="Image"  >
    </div>
    <div class="field">
      <label>Background Theme</label>
      <input type="file" name="background" required title = "Please upload a background"
	  placeholder="Background upload"  >
    </div>
  </div>
  <button class="ui blue submit button">Add Recommend Book</button>
</form>