 <form 
          class = "ui stacked segment form hide" 
          action="/dashboard/updatebooklist/{{id}}" 
          method="POST" id="edit"
        >
    <section
      class="ui secondary inverted teal left aligned middle aligned segment"
      style="border-style:outset" id="edit"
    >
      <h3 class="ui header" style="font-family:cursive">
        <span class="ui input">
               <input type="text" name="category" autofocus required 
                      title = "Please include a valid Category"
                      placeholder="Category" 
					  value = "{{category}}">
              </span>
      </h3>
      <button type = "reset" class="ui icon button" id="hideEdit" 
	          title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
    </td>
    <td>
      <button type = "submit"  class="ui icon button" 
	          title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </section>
</form> 