<form 
          class = "ui stacked segment form" 
          action="/dashboard/updatebooklist/{{id}}" 
          method="POST"
        >
    <section
      class="ui secondary inverted teal left aligned middle aligned segment"
      style="border-style:outset"
    >
      <h3 class="ui header" style="font-family:cursive">
        <span class="ui input">
               <input type="text" name="category" autofocus required 
                      title = "Please include a valid Category"
                      placeholder="Category" 
					  value = "{{category}}">
              </span>
      </h3>
      <a href="/booklist/{{id}}" class="ui icon button">
        <i class="open folder icon"></i>
      </a>
      <button type = "reset" class="ui icon button" 
	          title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
       <button type = "submit"  class="ui icon button" 
	          title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </section>
  </form>