{{#if singlePicklist.details}}
{{#each singlePicklist.details}}
  <div class="ui card" style="margin-right: auto; margin-left: auto;">
    <div class="image">
    <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
        <a class="header">{{genre}}</a>
        <div class="meta">
        <span class="date">author</span>
        </div>
        <div class="description">
        {{descript}}
       </div>
       </div>
      <div class="extra content">
      <i class="calendar outline icon"></i>{{publicYear}}
     </div>
     </div>
  {{else}}
    <h3 class="ui message">
      Empty Booklist!
    </h3>
{{/each}}
{{/if}}