<section
  class="ui secondary inverted brown left aligned middle aligned segment"
>

  <h2><div class="dashtitle">Booklist Collection Dashboard</div></h2>

  {{#each booklists}}
        {{> listonebooklist playlistId=../id}}
        {{> editbooklist playlistId=../id}}
  {{/each}}
</section>