<style>
  h3{
    text-align:center;
  }
</style>

{{#if details}}
{{#each details}}
{{> listonepick picklistId=../id}}
{{> editpick picklistId=../id}}
{{/each}}
{{else}}
    <div class="ui olive small icon message">
     <i class="huge icons">
  <i class="book icon"></i>
  <i class="bottom right corner info icon"></i>
</i>
  <div class="">
    <div class="header">
      Start Adding The Details
    </div>
    <p>Tips: You can still edit it after you create.</p>
  </div>
    </div>
  {{> addpick}}
{{/if}}