<section class="ui secondary inverted brown left aligned middle aligned segment">
  
  <h2><div class="dashtitle">My highlighted books</div></h2>

  {{#each picklists}}
   {{> listOnePicklist picklistId=../id}}
   {{> editPicklist picklistId=../id}}
  <script>
    document.querySelector("#showEdit").addEventListener ('click', () => {
        document.querySelector("#picklist").style.display = "none";
        document.querySelector("#edit").style.display = "table-row";
    })
    document.querySelector("#hideEdit").addEventListener ('click', () => {
        document.querySelector("#picklist").style.display = "table-row";
        document.querySelector("#edit").style.display = "none";
    })
</script>
  {{/each}}
</section>