<style>
  h3{
    text-align:center;
  }
</style>

{{#if details}}
{{#each details}}
{{> listonepick picklistId=../id}}
{{> editpick picklistId=../id}}
<script>
    document.querySelector("#showEdit").addEventListener ('click', () => {
        document.querySelector("#pick").style.display = "none";
        document.querySelector("#edit").style.display = "block";
    })
    document.querySelector("#hideEdit").addEventListener ('click', () => {
        document.querySelector("#pick").style.display = "block";
        document.querySelector("#edit").style.display = "none";
    })
</script>
{{/each}}
{{else}}
    <div class="ui olive small icon message">
     <i class="huge icons">
  <i class="book icon"></i>
  <i class="bottom right corner info icon"></i>
</i>
  <div class="">
    <div class="header">
      Start Adding The Details
    </div>
    <p>Tips: You can still edit it after you create.</p>
  </div>
    </div>
  {{> addpick}}
{{/if}}