<section class="ui secondary inverted brown left aligned middle aligned segment">
  
  <h2><div class="dashtitle">My highlighted books</div></h2>

  {{#each picklists}}
   {{> listOnePicklist picklistId=../id}}
   {{> editPicklist picklistId=../id}}
  {{/each}}
</section>