<style>
  a{
    font-family:Copperplate, Papyrus, fantasy;
    font-size:20px;
  }
</style>
<nav class="ui olive inverted menu">
  <header class="ui header item"> <a href="/start"><i class="book icon"></i>Book Collection</a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="pickboard" class="item" href="/pickboard"> Special  </a>
    <a id="about" class="item" href="/about"> About  </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>