<style>
  a{
    font-family:Copperplate, Papyrus, fantasy;
    font-size:20px;
  }
</style>
<nav class="ui olive inverted menu">
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>