{{> menu id="about"}}
<style>
</style>
<section class="ui secondary inverted brown left aligned middle aligned segment">
    <h2 class="title" style="width:auto">About the Booklist App</h2>
    <div class="ui card" style="border-style: outset;">    
  <div class="image">
    <img src="https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/avatar.png?v=1709433470326"class="ui centered image" width=400 height=300>
  </div>
  <div class="content">
    <p class="header" style="color:blue;text-decoration:underline">The Creator</p>
    <a class="header">Sun Zheng Chew</a>
    <div class="meta">
      <span class="date">Borned in 2004</span>
    </div>
    <div class="description">
      Sun Zheng is an computer science student study in SETU.
    </div>
  </div>
</div>
</section>