{{> menu id="about"}}
<style>
  .title{
    position:relative;
    left:30%;
    up:10%;
  }
</style>
<section class="ui left aligned middle aligned segment">
    <h2>About the Booklist App</h2>
    <div class="ui card">
  <h3 class="title">The Creator</h3>    
  <div class="image">
    <img src="https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/avatar.png?v=1709433470326"class="ui centered image" width=400 height=300>
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
</section>