{{> menu}}
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    <div class = "title">
    {{singleBooklist.category}}
    </div>
  </h2>
  {{> listbooks}}
</section>