{{> menu}}
<style>
  h2{
    margin:1em;
  }
</style>
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    <div class = "content">
    {{singleBooklist.category}}
    </div>
  </h2>
  {{> listbooks}}
</section>