{{> menu}}
<section class="ui secondary inverted brown left aligned middle aligned segment">
  <h2 class="ui hei ader">
    <a href="/dashboard" style="color:white"><i class="undo icon"></i></a>
    <div class = "title">
    {{singleBooklist.category}}
    </div>
  </h2>
  {{> listbooks}}
</section>