{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2><div class="title">Booklist Collection Dashboard</div></h2>

  {{#each booklists}}
  
    <section class="ui left aligned middle aligned segment">
      <div class="content">
      <h3 class="ui header">
        {{category}}
      </h3>     
      <a href="/booklist/{{id}}"> <i class="hand point right outline icon"></i>My Collection </a>
      </div>
    </section>
  
  {{/each}}

</section>