{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>Booklist App Dashboard</h2>

      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{booklists.0.title}}
        </h3>
      </section>
  
      <section class="ui left aligned middle aligned segment">
        <h3 class="ui header">
          {{booklists.1.title}}
        </h3>
      </section>

</section>