{{> menu}}
<section class="ui secondary inverted brown left aligned middle aligned segment">
  <h2 class="ui header">
    <a href="/pickboard" style="color:white"><i class="undo icon"></i></a>
    <div class = "title">
    {{bookName}}
    </div>
  </h2>
  {{>listpicks}}
</section>