{{> menu}}

<style>
  img{
    border-radius: 8px;
    box-shadow:5px 5px;
    position relative;
    left:25%;
    bottom:30px;
  }
  h2 {
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position:relative;
  right:25%;
  top:150px;
}
</style>

<section class="ui center aligned middle aligned segment">
  <h2><span style="background-color:">Here is my book collection!</h2>
    <p>
      
    </p>
  <img src="https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/library.webp?v=1709346417197"class="ui centered image" width=400 height=300>
  
</section>