{{> menu}}

<style>
  p {
  border-radius: 8px;
  border-style:inset;
  position:relative;
  left:3em;
  top:100px;
  padding:10px;
  margin:10px;
  width:40%;
  font-family:cursive;
  background-color:#84A9C0;
  text-shadow: 2px 2px 5px #F7A072;
  color:white;
  } 
  
  h2{
  position:relative;
  left:50px;
  top:65px;
  margin:10px;
  padding:10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color:#84A9C0;
  border-style:inset;
  width:40%;
  }
  
  .staticIcon{
    position:relative;
    top:10px;
  }
</style>

<section class="ui center aligned middle aligned segment">
<div class="content">
  <h2>Welcome to my book collection!</h2>
    <p>
      This app is gonna show you books I pick for collection!
    </p>
  <div class="ui small statistics" style="position:relative;top:7em;left:3em">
    <div class="statistic">
    <div class="value">
      <img src="https://cdn.glitch.global/13846978-a6d2-4332-b1a9-13b6de65e9c2/book%20shelficon.webp?v=1712109008474" class="ui circular inline image"
           style="position:relative;
                  top:8px;">
      {{displayNumBooklists}}
    </div>
    <div class="label">
      Total Booklist
    </div>
  </div>
    <div class="statistic">
    <div class="value">
      <img src="https://cdn.glitch.global/13846978-a6d2-4332-b1a9-13b6de65e9c2/books.png?v=1712255050518" class="ui circular inline image"
           style="position:relative;
                  top:10px;">  
      {{displayNumBooks}}
    </div>
    <div class="label">
      Total Book
    </div>
  </div>
  </div>
    <img src="https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/library.webp?v=1709346417197"class="ui centered image"
         style="border-radius: 8px;
                box-shadow:3px 3px white;
                position:relative;
                left:25%;
                bottom:140px;"
                width=400 height=300>
  </div>
</section>
