html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image:url(https://cdn.glitch.global/6d279091-10e0-44aa-91a9-405dacd6b0b1/back.jpg.avif?v=1709352742838);
}

.content{
    background-color:#D18F75;
    border-radius:8px;
    border-style:outset;
    border-color:#A85838;
    border-width:8px;
    height:80%;
}

.title{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    font-family:cursive;
    text-align:center;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration:underline;
}

.dashtitle{
    margin-left: auto;
    margin-right: auto;
    font-family:cursive;
    text-align:center;
    color:white;
}

